<link rel="stylesheet" href="css/board.css">
<div class="main">
  <input type="hidden" value="<%= activityId %>" id="hid-acitvity-id">
  <div class="wrap">
    <div id="dv-title" class="title">
      捐赠人感恩大抽奖
      <p class='sub-title'>滴滴打车&招商地产助力免费午餐公益活动</p>
    </div>
    <div id="dv-result">
    </div>
    <div class="tips">
      <p>一等奖：招商地产烟台马尔贝拉海景精装房居住（使用）权5年（1名）</p>
      <p>二等奖：免费境外游（3名）</p>
      <p>三等奖：招商地产专属移动电源、“免费午餐”基金淘公仔、滴滴打车抱枕等纪念品（100名）。</p>
    </div>
  </div>
</div>
<script type='text/javascript' src="js/board.js"></script>