h1 {
  color: #ff8a01;
  font-size: 1.5rem;
  text-align: left;
  border-bottom: 1px solid #e8e8ee;
  padding: 1rem 0;
  margin: 0
}

.wrap {}

.wrap>p {
  height: 3.4rem;
  line-height: 3.4rem;
  font-size: 1.3rem;
  text-align: left;
  padding: .5rem 0;
  color: #333;
}

.wrap>p>span {
  padding: 0 .4rem;
  margin: 0 .4rem;
  border-radius: .3rem;
  border: 1px solid #e8e8e8;
  color: #ff8a01;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.8rem;
  position: relative;
  top: .2rem;
}

table {
  width: 100%;
}

th,
td {
  font-size: 1.3rem !important;
  text-align: center !important;
  color: #444;
}

td>a {
  text-decoration: none;
  padding: 0 .2rem;
  margin: 0 .2rem;
  color: #ff8a01;
}

.clear-fix {
  height: 6rem;
}

.wrap-button {
  position: fixed;
  bottom: 0px;
  padding: 0 1rem;
  height: 5.8rem;
  width: 100%;
  line-height: 5.8rem;
  box-sizing: border-box;
  background-color: #fff;
}
